*__pycache__*
fitted_mofa
data

# Auto detect text files and perform LF normalization
* text=auto
*DS_Store*
fitted_factm
*.joblib
*copy*.ipynb
*bad.ipynb
cohort_tests_notebooks/.fit_cache/
cohort_tests_notebooks/.fit_cache_immucan/