*__pycache__*
fitted_mofa
data

# Auto detect text files and perform LF normalization
* text=auto
*DS_Store*
*.pdf
*.png
*.csv
.claude
w_loading_tests.executed.ipynb
Su_*
*.pkl
cohort_tests_notebooks/.fit_cache/
cohort_tests_notebooks/.fit_cache_immucan/
*copy*.ipynb
*bad.ipynb
*.joblib